@import "tailwindcss";
@plugin "daisyui";

@theme {
    --breakpoint-*: initial;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
    /* ... */
}
:root {
    background: #ffffff;
    --font-display: "Satoshi", "sans-serif";
    --breakpoint-3xl: 1920px;
    --color-600: oklch(0.408 0.088 239.575 / 0.46);
    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
    /* ... */
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 20px;
    height: 50px;
    max-height: 50px;
}
.f-r-a {
    background: #ffffff;
    font-size: 1.0rem;
    color: black;
    max-height: 50px;
}
.fra-r{
    margin-left: 15px;
}
.btn, .input{
    background: #ffffff;
    border: 1px solid var(--color-600);
    color: black;
}

#real-length{
    width: 80px;
    max-height: 50px;
}
#calibration-number {
    border: 1px solid gray;
    padding-left: 2px;
    margin-left: 25px;
    max-width: 50px;
    max-height: 50px;
    background: #ffffff;
}



#toolbar {
    position: relative;
    z-index: 100;
    margin-top: 20px;
}

#toolbar2 {
    position: relative;
    z-index: 100;
    border-bottom: 1px solid black;
    margin-top: 10px;
}
#toolbar, #toolbar2{
    margin-left: 25px;
    margin-right: 55px;
}
#pdf-container {
    z-index: 10;
}


#scale-indicator {
    position: absolute;
    top: 20px;
    right: 10px;
    background: rgba(255, 255, 255, 0.85);
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    z-index: 100;
}

.info-margin{
    margin-top: 20px;
}

/*  -A4-  297x210 x 4 */
#pdf-container {
    position: relative;
    width: 90%;        /* or a max-width like 1000px */
    max-width: 90%;  /* optional: to control size on big screens */
    height: 100%;
    max-height: 1000px;
    margin: 10px 50px;  /* optional: center the container */
    overflow: hidden;
    aspect-ratio: auto; /* let JS control height */
    border: 1px solid #ccc;
}

/* All canvases will sit stacked on top of each other */
#pdf-container canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
#measurement-tip{
    position: fixed;
    display: none;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    z-index: 9999;
}
.cls_sel{
    padding-top: 14px;
    padding-left: 30px;

}

.pdf-selector{
    line-height: 1.5;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"), serif;

}